{% import 'components.html' as components %}

{% call components.popup_window(fit_content=False) %}
    <h2 id="privacy-policy">Privacy policy</h2>
    <p>This Privacy Policy explains how Podmem (”we”, “us”, or “our”) collects, uses and discloses information about you when you access and use our services. By using our services, you consent to the processing of your information as described in this Privacy Policy.</p>

    <h3>What We Collect</h3>

    <p>1.1 Information You Provide: If you choose to contact us, we will collect your name and email address for the purposes of responding to your inquiry.</p>
    <p>1.2 Information We Collect Automatically: When you access or use our services, we may automatically collect certain information about you. This includes usage data, such as your web browser, user agent, link clicks, and buttons interacted with.</p>
    <p>1.3 Cookies: We only collect stritcly necessary cookies for session tracking.</p>

    <h3>How We Use Your Information</h3>

    <p>We use the information we collect to</p>
    <ul style = "text-align: left;">
    <li>Study and research to improve and maintain our services.</li>
    <li>Perform analysis related to our services.</li>
    <li>Maintain and improve the security of our services, including the safety and protection of our users, by preventing abuse, spam and other vulnerabilities.</li>
    </ul>
    <p>By using our website, you agree to be bound by YouTube's privacy policy. Our use of the YouTube API involves collecting information on video names, URLs, and video creator names.</p>

    <h3>Security</h3>

    <p>We take reasonable measures to help protect information about you from loss, theft, misuse, and unauthorized access, disclosure, alteration, and destruction. </p>

    <h3>Changes to this Privacy Policy</h3>
    <p>
    We may update this Privacy Policy from time to time. Any changes will be posted on this page with a revised "Last updated" date. Your continued use of our services after the effective date of the revised Privacy Policy constitutes your acceptance of the changes.
    </p>
    <p>Please note that this Privacy Policy should be read in conjunction with our Terms of Use.</p>
{% endcall %}