{% import 'components.html' as components %}

{% call components.popup_window(fit_content=False) %}
    <h2>Terms of Use</h2>
    <p>Podmem.com (”Website”) is a spaced repitetion and flashcard generator for students provided by Podmem (”Company”). By accessing and using the website, you agree to be bound by the following terms and conditions (”Terms of Use”).</p>
    <h3>General Terms</h3>
    <p>1.1 The Website is intended for use by individuals who wants to practice spaced repetition based of video content.</p>
    <p>1.2 The Website contains various resources including, but not limited to, flashcards (”Content”). The Content is sourced from third-party providers and may be subject to their respective terms of use.</p>
    <p>1.3 The Company makes no representations or warranties of any kind, express of implied, as to accuracy, completeness, or usefulness of any of the Content provided on the Website. The Company also makes no representations or warranties that the Content will be error-free, uninterrupted, or free from unauthorized access.</p>
    <p>1.4 The Company reserves the right to modify or discontinue, temporarily or permanently, the Website, or any portion thereof, with or without notice.</p>
    <h3>Account and Data Responsibility</h3>
    <p>2.1 As a registered user, you are responsible for all activities that occur under your account and for maintaining the security and confidentiality of your password.</p>
    <h3>Content Creation Responsibility and Prohibited Content</h3>
    <p>3.1 As a user of Podmem, you may paste content, modify, submit, export or erase content. You are solely responsible for all your content.</p>
    <p>3.2 Prohibited content includes, but is not limited to, content that is harmful, offensive, indecent, unlawful, infringing, or otherwise objectionable. Any engagement in such activties may result in termination of your account.</p>
    <h3>Content and License</h3>
    <p>4.1 The Content provided on the Website is protected by copyright and other intellectual property laws. You may use the Content for personal, non-commercial use only. </p>
    <p>4.2 You may not distribute, modify, export, reuse, report, or use the Content for public or commercial purposes without the prior written consent of the Company.</p>
    <p>4.3 By using the service and creating content on Podmem, you grant us a worldwide, non-exclusive, royalty-free licence (with the right to sublicense) to use, copy, reproduce, proces, adapt, modify, publish, transmit, display and distribute your content in any and all media or distribution methods.</p>
    <h3>Responsibility of Service Users and Content Representations and Warranties</h3>
    <p>5.1 You are responsible for your use of the Service and for any Content you provide, including compliance with applicable laws, rules, and regulations.</p>
    <p>5.2 You represent and warrant that you have all the rights, power, and authority necessary to grant the rights granted herein to any content submitted.</p>
    <h3>Third-Party Content and Websites</h3>
    <p>6.1 The Website may contain links to third-party websites or resources. You acknowledge and agree that we are not responsible or liable for the availability, accuracy, content, or services of such third-party websites or resources.</p>
    <h3>YouTube API</h3>
    <p>7.1 The Website makes use of the YouTube API to provide acces to videos on the YouTube platform. By accessing and using the Website, you agree to be bound by the YouTube Terms of Service available at <a href="https://www.youtube.com/t/terms">https://www.youtube.com/t/terms</a>.</p>
    <h3>Changes to the Service and Terms</h3>
    <p>8.1 We reserve the right, at our discretion, to modify or replace any part of these Terms of Service at any time by posting a notice on our website or by sending you an email.</p>
    <h3>Governing Law and Venue</h3>
    <p>9.1 These Terms and your access to and use of the Podmem platform will be governed by the laws of Denmark.</p>
    <h3>AI Flashcard Generator</h3>
    <p>10.1 The AI Flashcard Generator is a service provided by the Website that allows users to generate flashcards. The service is subject to the same terms and conditions as the general Website usage.</p>
    <p>10.2 By using the AI Flashcard Generator, you understand and agree that the generated flashcards may not be entirely accurate, complete or reliable. The Company is not responsible for any inaccuracies or omissions in the generated flashcards.</p>
    <p>10.3 The Company continually strives to improve and expand the features of the AI Flashcard Generator. However, you acknowledge and agree that any new features, enhancements, or modifications to the AI Flashcard Generator are not guaranteed and are subject to change at the sole discretion of the company. </p>
    <p>10.4 The generated flashcards are intended for personal, non-commercial use only. You may not distribute, modify, transmit, or use the flashcards for commercial purposes without the prior written consent of the Company.</p>
    <p>11.7 The Company reserves the right to modify or discontinue the AI Flashcard Generator, or any portion thereof, with or without notice.</p>
{% endcall %}

