[x-cloak] { display: none; }

:root {
    font-size: 18px;
    font-family: "Mulish";
    height: 100%;
}

body {
    overflow-x: hidden;
    background: #F4F7FD;
    margin: 0;
    padding-bottom: 5rem;
    width: 100%; 
    display: grid;
    justify-content: center;
    grid-auto-rows: min-content;
    grid-template-columns: 
    [full-start] minmax(2rem, 1fr)
    [main-start] minmax(5rem, 62rem) [main-end]
    minmax(2rem, 1fr) [full-end];
    
}

footer {
    display: inherit;
    grid-column: main;
    height: 100%;
    grid-auto-flow: column;
    grid-template-rows: 1fr; 
    margin-top: 4rem;
}

footer >*{
    display: flex;
    align-self: center; 
}

footer span {
    align-self: flex-end;
    justify-self: center;
    height: min-content;
    margin-bottom: 2rem;
    font-weight: 200; 
}

header {
    margin-top: 3rem;
    margin-bottom: 2rem; 
    display: inherit;
    grid-column: main;
    height: fit-content;
    box-sizing: border-box;
    grid-auto-flow: column;
    padding-left: 5%;
    padding-right: 5%;
}

header .header-wrapper{
    background:white;
    display: flex;
    align-self: center; 
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: solid 3px black;
    box-shadow: 3px 2px 0px 0px black;  
    border-radius: 2rem;
    flex-flow: nowrap;
    align-items: center;
}

header .logo {
    justify-self: left;
}

header .logo img {
    width: 6.5rem;  
    margin-top: 5px;
}

header .login .hamburger {
    display: none;
}

header .login {
    justify-self: right;
}

header .dropdown .item {
    font-size: 1rem;
}

.login .button {
    border-radius: 2rem;
    color: white;
    height: min-content;
    box-shadow: none;
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 800;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
}

.login .button.inverse {
    border-radius: 0.5rem;
    background: #dfdfdf;
    border: none;
}

.login .button.inverse:hover {
    border-color: black;
    transform: none;
    background: #FF6060;
}

.login .button.account img {
    filter: invert(100%); 
}

#login-wrapper {
    display: inherit;
    grid-column: main;
    grid-template-rows: auto 1fr; 
}

#login-wrapper button {
    margin-top: 2rem;
    width: 100%;
}

#login-wrapper form {
    background: #eaff9d;
    border-radius: 2rem;
    justify-self: center;
    width: min(100%, 25rem);
    border: solid 3px black;
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 3px 2px 0px 0px black;
    box-sizing: border-box;
}

#login-wrapper .alert {
    margin-top: 1.5rem;
    font-weight: 800;
}

#login-wrapper input[type=text], 
#login-wrapper input[type=email],
#login-wrapper input[type=password] {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1rem;
    border-width: 3px;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 3px 2px 0px 0px black;
}

#login-wrapper h1 {
    font-weight: 900;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

#login-wrapper span {
    display: inline-block;
    font-weight: 600;
    margin-top: 0.5rem;
}

#login-wrapper span.terms{
    margin-top: 0;
    margin-right: 0;
}

#login-wrapper a {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 1rem;
}


#circle-bg {
    position: absolute;
    top: 0;
    width: clamp(70rem, 130vh, 500vw);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    z-index: -999;
}

.bg-decorator {
    position: absolute;
    z-index: -99;
}

#hero-wrapper {
    display: inherit;
    grid-column: main;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-rows: auto 1fr; 
}

#hero-wrapper .big .frame {
    display: inline-block;
    rotate: 3deg;
    padding: 0.5rem;
    z-index: -999;
    background: #19e884;
} 

#hero-wrapper .small.frame {
    box-shadow: none;
    background: white;
    border: none;
    background: none;
}

#hero-wrapper .frame {
    padding: 0.8rem;
    justify-self: center;
    rotate: 2deg;
}

#hero-wrapper .small {
    margin-top: 1rem; 
}

body.show_flashcards #hero-wrapper h1 {
    display: none;
}

#video-titledata-wrapper {
    display: inherit;
    grid-column: main;
    height: 100%;
    grid-template-rows: auto 1fr; 
    padding-left: 6rem;
    padding-right: 6rem;
}

#video-titledata-wrapper >div {
    display: inline-block;
    text-align: center;
    margin-top: 0;
}

#video-titledata-wrapper .button {
    margin: 0 1rem 0 1rem;
    margin-top: 2rem;
}

#video-titledata-wrapper .small {
    font-size: 1.5rem;
    align-self: center;
}

#search-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    display: inherit;
    grid-column: main;
    height: 100%;
    padding-left: 18%;
    padding-right: 18%;
}

#search-wrapper button {
    box-shadow: none;
    transform: none;
    background: black;
}

#search-wrapper button:hover {
    background: #FF6060;
}

#table-wrapper {
    display: inherit;
    grid-column: main;
    grid-template-rows: auto 1fr; 
    border-radius: 1rem;
}

#table-wrapper .table {
    margin-top: 4rem;
}

.table >.item {
    box-sizing: border-box;
    margin-top: 1rem;
    border-radius: 1rem;
    border: solid 3px black;
    padding: 2rem;
    display: flex;
    box-shadow: 3px 2px 0px 0px black;
    background: white;
    width: 100%;
    justify-content: space-between;
}

.table >.item .button-wrapper {
    align-self: center;
    justify-content: right;
}

.table >.item .button {
    margin-left: 1rem;
    font-size: 1rem;
    padding: 1rem;
}

.table >.item:nth-child(2n) {
    background: #eaff9d;
}

#table-wrapper .table >.item .name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
    max-width: 60%;
}

#table-wrapper .table >.item .channel {
    font-size: 1rem;
    font-weight: 300;
}

#export-wrapper {
    box-sizing: border-box;
    grid-column: main;
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

#export-wrapper div {
    margin-top: 2.5rem;
}

#export-wrapper h2 {
    font-size: 1.8rem;
    font-weight: 300;
}

#export-wrapper .button {
    margin-right: 1.5rem;
}

#flashcard-wrapper {
    display: inherit;
    grid-column: main;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

#flashcard-wrapper >div {
    display: flex;
    justify-content: center;
    justify-self: center; 
    gap: 2rem;
}

#flashcard-wrapper h1{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.flashcard {
    justify-content: center;
    box-sizing: content-box;
}

.flashcard div {
    width: clamp(5rem, 30vw, 13.5rem);
    height: 25rem;
    border-radius: 1.5rem;
    background: #FF6060;
    padding: 2rem;
    overflow-y:auto;
    overflow-x: hidden;
    border: solid;
    border-width: 3px;
    border-color: black;
    box-shadow: 8px 0px 0px 0px black;
}

.flashcard div::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.flashcard div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}

/* Handle */
.flashcard div::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7); 
    border-radius: 10px;
}

/* Handle on hover */
.flashcard div::-webkit-scrollbar-thumb:hover {
    background: #009eb3; 
}

.flashcard.answer div {
    background: #19e884;
}

.flashcard span {
    font-size: 1.5rem;
    font-family: "Mulish";
    font-weight: 600;
}

.flashcard span.letter {
    font-weight: 1000;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

#nav-wrapper {
    grid-auto-flow: inherit;
    display: inherit;
    grid-column: main;
    justify-content: center;
    margin-top: 2rem;
}

#nav-wrapper div {
    display: flex;
    align-items: center;
}

#nav-wrapper div img {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    width: 4rem; 
}

#nav-wrapper div span {
    font-family: "Mulish";
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: .2rem;
}

#nav-wrapper div .right {
    transform: scaleX(-1);
}

.dropdown-wrapper .button {
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown-wrapper .button img {
    width: 0.6rem;
    margin-left: 0.3rem;
}

.dropdown-wrapper .button.inverse:hover {
    background: #FF6060;
}

.dropdown {
    z-index: 999;
    width: min-content;
    text-align: left;
    background: white;
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
    border: solid;
    border-width: 3px 3px 3px 3px;
    border-color: black;
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: 3px 2px 0px 0px black;
    overflow: hidden;
}

.dropdown .item {
    font-weight: 500;
    display: block;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
    transition: 0.2s;
}

.dropdown .item:last-child {
    border-radius: 0 0 0.7rem 0.7rem;
}

.dropdown .item:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.tooltip {
    padding: 1rem;
    color: black;
    background: white;
    border: 3px solid black;
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 1rem;
    font-weight: 700;
}

.popup {
    background: white;
    border-radius: 1rem 1rem 0 0;
    width: 15rem;
    position: fixed;
    right: 5%;
    bottom: 0;
    color: black;
    padding: 2.5rem 2rem 1rem 2rem;
    text-align: center;
    border-bottom-width: 0 !important;
    border: solid;
    border-color: black;
}

.popup .x {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 1.3rem;
}

.popup button {
    margin: 1rem 0;
    width: 100%;
    font-size: 1rem;
}

.popup a {
    color: white;
    font-weight: 800;
}

.popup p {
    text-align: left;
    line-height: 1.4rem;
    font-size: 1rem;
}

.popup h3 {
    text-align: left;
    font-weight: 700;
    font-size: 1.5rem;
}


a, a:visited, a:active {
    font-weight: 800;
    text-decoration: none;
    transition: 0.2s;
    color: black;
}

a:not(.button):hover {
    color: #FF6060;
}

button, .button, a.button {
    display: inline-block;
    background: #626262;
	color: white;
	border-width: 3px;
    border: solid;
    border-color: black;
    border-radius: 0.6rem;
	padding: 1rem 2rem 1rem 2rem;
	font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: .005rem;
    cursor: pointer;
	outline: inherit;
    width: fit-content;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 3px 2px 0px 0px black;
    animation-timing-function: ease-in;
}

button.black, .button.black, a.button.black {
    background: black;
    box-shadow: none;
    border: none;
}

button.inverse, .button.inverse, a.button.inverse {
    background: white;
    color: black;
    border: solid;
    border-width: 3px;
}

button:not(.loading):hover, .button:not(.loading):hover{
    background: black;
    box-shadow: 0px 0px 0px 0px black;
    transform:translate(3px,2px);
}

button.black:hover, .button.black:hover {
    background: #FF6060;
    transform: none;
}

.button.inverse:hover, button.inverse:hover {
    color: white;
    border-color: black;
}

button img, .button img {
    vertical-align: middle;
    margin-left: 1rem;
    padding: 0;
}

.clickable {
    transition: 0.2s;
}

.clickable:hover {
    filter: invert(66%) sepia(26%) saturate(1262%) hue-rotate(312deg) brightness(109%) contrast(105%);
    cursor:pointer;
}

.nonclickable {
    opacity: 0.5;
}

.url-input {
    margin-top: 2rem;
    width: 100%;
    display: flex;
}

.error-message {
    position: absolute;
    margin-top: -5.6rem;
    margin-left: 4rem;
    padding: 0.5rem 1rem 2rem 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background: #FF6060;
    font-weight: 700;
    font-size: 1rem;
    z-index: -1;
}

.settings-icon {
    position: absolute;
    width: 1.7rem;
    margin-top: 0.9rem;
    margin-left: 1rem;
    transition: 0.2s;
}   

.settings-dropdown {
    width: auto;
    position: absolute;
    margin-top: 0.5rem;
}

[contenteditable]:focus {
    border-radius: 1rem;
    outline: 0px;
    font-weight: 300;
    font-style: italic;
}

input[type=text], input[type=password], input[type=email] {
    justify-self: center;
    width: 100%;
    padding-left: 4.3rem;
    height: 3.11rem;
    font-family: "Raleway";
    font-size: 1.2rem;
    font-weight: 200;
    color: black;
    border-radius: 2rem 0rem 0rem 2rem;
    border-width: 3px 0px 3px 3px; 
    border-color: black;
    outline: none;
    border-style: solid;
}

input[type=checkbox] {
    box-shadow: none;
}

select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    font-size: 0.8rem;
    padding: 0.675em 1.5em 0.675em 1em;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-weight: 300;
    font-family: inherit;
    background-position: right center; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    background-size: 0.5rem;
    margin-right: 1rem;
    transition: 0.2s;
}

select:focus{
    outline: none;
}

select:hover {
    font-weight: 800;
}
  
.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

::placeholder {
    color: #999999;
    opacity: 1; /* Firefox */
}

.submit {
    padding: 1rem 1.3rem 0.9rem 1.5rem; 
    border-radius: 0rem 2rem 2rem 0rem;
    border-width: 3px 3px 3px 0px; 
    border-color: black;
    border-style: solid;
}

.submit img {
    margin-left: -0.3rem;
    width: 1rem;
    transition: 0.3s;
}

.submit:not(.loading):hover img {
    margin-left: 0.2rem;
    padding-right: 0.3rem;
}

.submit.loading img {
    margin-left: 0.2rem;
    padding-right: 0.3rem;
}

.donate {
    grid-column: main;
    margin-top: 6rem;
    justify-content: center;
    text-align: center;
    display: inherit;
}

.donate .small {
    margin-bottom: 3rem;
}

.donate .button {
    justify-self: center;
}

.donate img {
    position: relative;
    bottom: 2px;
}

.frame {
    border-radius: 1rem;
    background: #FF6060;
    padding: 1.5rem;
    border: solid 3px black;
    box-shadow: 3px 2px 0px 0px black;  
    width: fit-content;
}

.small {
    font-size: 1.7rem;
    line-height: 1.8rem;
    font-weight: 200;
    text-align: center;
    margin-top: 0;
}

.medium {
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
}

.big {
    display: inline;
    font-size: 3.5rem;
    font-size: clamp(2.5rem, 10vw, 3.7rem);
    line-height: clamp(3rem, 12vw, 4.5rem);
    font-weight: 900; 
    text-align: center;
    margin-bottom: 1rem;
}

.red {
    color: #FF6060;
}

.honey {
    display: none;
}


@media screen and (min-width: 1900px) {
    :root {
        font-size: 20px;
    }

}

@media screen and (max-width: 1600px) {
    #circle-bg {
        width: clamp(100rem, 150vh, 500vw);
    }   
}

@media screen and (max-width: 1200px) {
    :root {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {

    #search-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }

    #video-titledata-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

}

@media screen and (max-width: 520px) {

    .popup {
        width: auto;
        left: 5%; 
    }

    header {
        padding: 0;
    }

    header .header-wrapper{
        padding-right: 2rem;
    }

    #video-titledata-wrapper span button {
        text-align: center;
        margin-top: 2rem;
    }

    #search-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #flashcard-wrapper {
        margin-top: 0;
    }

    #flashcard-wrapper >div {
        display: block;
    }

    .flashcard div {
        margin-top: 3rem;
        width: auto;
    }

    #hero-wrapper {
        padding: 0;
    }
    
    header .login .button {
        display: none;
    }

    header .login .hamburger {
        display: block;
        width: 2.5rem;
    }
}
