<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Podmem - YouTube to Flash Cards</title>
        <meta name="description" content="Podmem enables you to create flashcards from YouTube videos and efficiently train with them. Study smarter with Podmem.">
        <meta name="keywords" content="Podmem, flashcards, YouTube, study, learning, education">
        <meta property="og:title" content="Podmem – YouTube to flashcards" />
        <meta property="og:image" content="{{ url_for('static', filename='images/metaimage.png') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/logo_icon.svg') }}">

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/class-tools.js"></script>

        <!-- Alpine Plugins -->
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/anchor@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>

        <!-- Alpine.js -->
        <script src="//unpkg.com/alpinejs" defer></script>
    </head>

    <body class = "{{body_tag}}">

        {% block body %}
        <div class = "full-wrapper purple">
            <header>
                <div class = "header-wrapper">
                    <a href = "{{url_for('index')}}" class = "logo icon" ><img src = "{{ url_for('static', filename='images/logo_icon.svg') }}" alt = "Podmem Logo"></a>
                    <a href = "{{url_for('index')}}" class = "logo" ><img src = "{{ url_for('static', filename='images/logo2.svg') }}" alt = "Podmem Logo"></a>

                    <div class = "login">
                        {% if current_user.is_authenticated %}
                        <div class = "notifications" hx-get = "{{url_for('get_notification', type = 'count')}}" hx-target = ".notification-count" hx-trigger = "load" x-data = "{showTooltip: false}" @mouseover = "showTooltip = true" @mouseleave = "showTooltip = false">
                            <a href = "{{url_for('study_all')}}"><img src = "{{ url_for('static', filename='images/bell.svg') }}" alt = "Bell Icon" x-ref = "tooltip"></a>
                            <a href = "{{url_for('study_all')}}"><span class = "notification-count"></span></a>
                            <span class = "tooltip" x-anchor.bottom.offset.10 = "$refs.tooltip" x-cloak x-transition x-show = "showTooltip" hx-get = "{{url_for('get_notification', type = 'message')}}" hx-trigger = "load" hx-target = "this"></span>
                        </div>
                        <span x-data="{showDropdown: false}" class = "dropdown-wrapper" @mouseleave = "showDropdown=false">
                            <a class = "button account black notranslate" @touchstart.passive="showDropdown = !showDropdown" @mouseover = "showDropdown=true" x-ref="button">{{current_user.username}} <img src = "{{ url_for('static', filename='images/arrow_select.svg')}}" alt = "Down Arrow"> </a>
                            <div class = "dropdown" x-show="showDropdown" x-anchor.offset.-10="$refs.button" x-transition x-cloak>
                                <a class = "item" href = "{{ url_for('study_all')}}"> Study </a>
                                <a class = "item" href = "{{ url_for('dashboard') }}"> My Decks </a>
                                <a class = "item" href = "{{ url_for('auth.logout') }}"> Log out </a>
                            </div>
                        </span>
                        {% else %}
                            <a class = "button inverse" hx-get = "{{url_for('auth.login')}}" hx-swap = "beforeend" hx-target = "body"> Log in </a>
                            <a class = "button black" hx-get = "{{url_for('auth.signup')}}" hx-swap = "beforeend" hx-target = "body" class = "inverse"> Register </a>
                        {% endif %}
                    </div>
                </div>
            </header>
        </div>    
        {% endblock %}

        <style> .wave_flipped {background-image: url("{{ url_for('static', filename= 'images/wave_flipped.svg')}}"); height: 8rem; background-position: bottom;} </style>
        <div class = "full-wrapper wave wave_flipped"></div> 
        <footer class="full-wrapper">
            <div>
                <a href="{{url_for('index')}}" class="logo"><img src="{{ url_for('static', filename='images/logo_inverted.svg') }}" alt="Podmem Logo Inverted"></a>
                <div>
                    <span><a href="{{url_for('index')}}">Home</a></span>
                    <span><a href="https://forms.gle/tyN8fwhQ9o4SjhMh6" rel="noopener noreferrer" target="_blank">Survey</a></span>
                    <span><a href="" hx-get="{{url_for('auth.terms')}}" hx-target="body" hx-swap="beforeend">Terms of Use</a></span>
                    <span><a href="" hx-get="{{url_for('auth.privacy_policy')}}" hx-target="body" hx-swap="beforeend">Privacy Policy</a></span>
                </div>
                <span>
                    <b>©  2024 Podmem </b> – All Rights Reserved
                </span>
            </div>
        </footer>        
        <!-- 100% privacy-first analytics -->
        <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
        <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
    </body>
</html>