{% import 'components.html' as components %}
{% extends 'base.html' %}

{% block body %}

  {{ super() }}
  <div class = "full-wrapper purple padding-bot">
      <div id = "table-wrapper" style = "justify-content: center;">
          <h1 class = "big"> {{title}} </h1>
      </div>
      <div class = "main-wrapper">
        <a class = "add" hx-post = "{{url_for('create_card', deck_id = cards[0].deck.id)}}" hx-target = "#flashcard-wrapper" hx-swap = "afterbegin"> <img src = "{{ url_for('static', filename='images/cross.svg') }}" alt = "Add Card"> </a>
      </div>
  </div>  
  {{components.wave()}}

  <div id = "flashcard-wrapper" class = "main-wrapper negative-margin">

      {% for card in cards %}
        <div class = "flashcard single edit" hx-get = "{{url_for('view_card', id = card.id)}}" hx-swap = "outerHTML" hx-trigger = "load" hx-target = "this">

        </div>
      {% endfor %}
  </div>
 
{% endblock %}