{% import 'components.html' as components %}

<div x-cloak class = "popup window login signup" x-data = "{open: false}" x-trap = "open" x-show = "open" x-transition.opacity.duration.100ms x-init="open=true">
    <img @click = "open=false" class = "x clickable" src = "{{ url_for('static', filename='images/x.svg') }}" alt = "X icon">
    <div id = "login-wrapper">
        {% if current_user.is_authenticated %}
        <h1> You are already logged in! </h1> 
        <button class = "light-green notranslate" @click = 'window.location.href="/dashboard"'>Go to dashboad</button>
        {% else %}
        <form name = "signup-form" hx-post = "{{ url_for('auth.signup') }}" hx-target = ".red.alert" method="POST">
            <h1> Register</h1>
            <span> Username </span> <br>
            <input type = "text" name = "username" placeholder = "Enter username"> <br>
            <span> Password </span> <br>
            <input type = "password" name = "password" placeholder = "Enter password"> <br>
            <span> Email </span> <br>
            <input type = "email" name = "email" placeholder = "Enter email"> <br>
            <span class = "terms"> <input type = "checkbox" name = "terms"> Agree to <a href = "" hx-get="{{url_for('auth.terms')}}" hx-target="body" hx-swap="beforeend" style = "margin: 0;">Terms</a> and <a href = "" hx-get="{{url_for('auth.privacy_policy')}}" hx-target="body" hx-swap="beforeend">Privacy Policy</a> </span>
            <button class = "light-green"> Register</button>
            <span class="red alert"></span>
            <div class = "loading-container"> {{ components.loading_indicator() }} </div>    
        </form>
        {% endif %}
    </div> 
</div>